#texto {
  display: flex;
  background-color: aqua;
}

body .tela {
  display: flex;
  background-color: burlywood;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 150px;
}

body .linha1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body .linha2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body .linha3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body .linha4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body .numero button{
  display: flex;
  background-color: chartreuse;
  align-items: center;
  width: 100px;
  height: 100px;
}

