<!DOCTYPE html>
<html ng-app="app" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./scripts/angular.min.js"></script>
    <script src="./controllers/mainController.js"></script>

    <title>AppAngular</title>
</head>

<body ng-controller="controlador">
    <div class="Calculadora">

        <div class="display">
            <div class="tela">
                <p style="font-weight: bold; font-size: 20pt;">Total: {{total}}
                    <br></br> Display: {{valorDigitado}} </p>
            </div>
        </div>

    </div>

    <div class="linha1">
        <div class="numero">
            <button ng-click="digitar('7')">7</button>
        </div>

        <div class=" numero">
            <button ng-click="digitar('8')">8</button>
        </div>

        <div class="numero">
            <button ng-click="digitar('9')">9</button>
        </div>
        <div class="numero">
            <button ng-click="limpar();">apagar</button>
        </div>
    </div>


    <div class="linha2">
        <div class="numero">
            <button ng-click="digitar('4')">4</button>
        </div>

        <div class="numero">
            <button ng-click="digitar('5')">5</button>
        </div>

        <div class="numero">
            <button ng-click="digitar('6')">6</button>
        </div>
        <div class="numero">
            <button ng-click="setOperacao(3)">X</button>
        </div>
    </div>

    <div class="linha3">
        <div class="numero">
            <button ng-click="digitar('1')">1</button>
        </div>

        <div class="numero">
            <button ng-click="digitar('2')">2</button>
        </div>

        <div class="numero">
            <button ng-click="digitar('3')">3</button>
        </div>
        <div class="numero">
            <button ng-click="setOperacao(2)">-</button>
        </div>
    </div>

    <div class="linha4">

        <div class="numero">
            <button ng-click="digitar('.')">.</button>
        </div>

        <div class="numero">
            <button ng-click="digitar('0')">0</button>
        </div>

        <div class="numero">
            <button ng-click="calcular()">=</button>
        </div>
        <div class="numero">
            <button ng-click="setOperacao(1)">+</button>
        </div>
    </div>

    </div>

</body>

</html>